<app-todo-form (outSearch)='getSearch($event)' (addTodo)='addItem($event)'></app-todo-form>

<div class="row">
    <div *ngIf="loading">Loading...</div>
    <div class="col-12" *ngIf="!loading">
        <table class="mt-1 mb-1 table table-striped " *ngIf="(lists | search_filter:search).length;else noItems">
            <tbody>
                <tr *ngFor="let item of lists| search_filter:search; let i = index">
                    <th scope="row">{{i+1}}.</th>
                    <td [class.del]="item.completed" width="100%">
                        {{item.title}}
                    </td>

                    <td><input type="checkbox" (click)="toggle(item)" [(ngModel)]="item.completed" /></td>
                    <td [ngSwitch]="item.completed">
                        <span *ngSwitchCase="true">Yes</span>
                        <span *ngSwitchDefault>No</span>
                    </td>
                    <td>
                        <button (click)="deleteItem(item.id)" type="button" class="close" aria-label="Close">
                            <span aria-hidden="true" class="text-danger">&times;</span>
                          </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<ng-template #noItems>
    <h3 class="text-center mt-5">No items!</h3>
</ng-template>





<!-- <td [ngSwitch]="item.done">
                <span *ngSwitchCase="true" [ngClass]="{line: true}">{{item.action}}</span>
                <span *ngSwitchDefault [ngClass]="{line: false}">{{item.action}}</span>
            </td> -->